<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.crons %>">crons</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Details of cron</a></li>
</ul>

<div class="page-header">
    <h1>Details of cron</h1>
</div>

<table class="table table-bordered">
    <tbody>
        
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_cron(cron), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.cron(cron), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', pathTo.crons) %>
</div>
