<% include header.html %>

<% 
var folder = site.download ? site.download.folder : '';
var bucket = site.s3 ? site.s3.bucket : '';
var s3_folder = site.s3 ? site.s3.folder : '';
var name = site.name != 'New Site' ? site.name : '';
%>

<div class="container-fluid">
	<div class="row-fluid">
		<h1>Site: <%= site.name %></h1>
		<form class="form form-horizontal" action="/save/<%= id %>" method="post">
			<div class="span6">
				<fieldset>
					<legend>Basic Info</legend>
					<div class="control-group">
					    <label class="control-label" for="name">Name</label>
					    <div class="controls">
					      	<input type="text" id="name" name="name" placeholder="Name" value="<%= name %>" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="url">Url</label>
					    <div class="controls">
					      	<input type="text" id="url" name="url" placeholder="Url" value="<%= site.url ? site.url : '' %>" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">Key</label>
					    <div class="controls">
					      	<input type="password" id="key" name="key" placeholder="Key" value="<%= site.key ? site.key : ''%>" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">Profile</label>
					    <div class="controls">
					    	<% if(site.profiles.length) { %>
					    		<select name="profile" id="profile">
					    		<% _.each(site.profiles, function(profile, k) { %>
					    			<option value="<%= site.profile == k ? 'selected="selected"' : '' %>"><%= profile %></option>
					    		<% }); %>
					    		</select>
					    	<% } else { %>
					    		<input type="text" id="profile" name="profile" placeholder="Profile" value="<%= site.profile ? site.profile : ''%>" />
					    	<% } %>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="download-type">Download Type</label>
					    <div class="controls">
					      	<select name="download-type" id="download-type">
								<option value="s3" <% if (site.s3){ %> selected="selected" <% } %>>Amazon S3</option>
					      		<option value="direct" <% if (!site.s3 && site.download){ %> selected="selected" <% } %>>Direct Download</option>
					      		<option value="false" <% if (!site.s3 && !site.download){ %> selected="selected" <% } %>>Do not Download</option>
					      	</select>
					    </div>
					</div>
					<div class="s3 collapse <% if (site.s3){ %>in<% } else {%>out<% } %>">
						<div class="control-group">
						    <label class="control-label" for="name">Bucket</label>
						    <div class="controls">
						      	<input type="text" name="bucket" placeholder="Bucket" value="<%= bucket %>" />
						    </div>
						</div>
						<div class="control-group">
						    <label class="control-label" for="name">S3 Folder</label>
						    <div class="controls">
						      	<input type="text" name="s3-folder" placeholder="S3 Folder" value="<%= s3_folder %>" />
						    </div>
						</div>
					</div>
					<div class="download collapse <% if (!site.s3 && !site.download){ %>out<% } else {%>in<% } %>">
						<div class="control-group">
						    <label class="control-label" for="name">Download Folder</label>
						    <div class="controls">
						      	<input type="text" id="download-folder" name="folder" placeholder="Download Folder" value="<%= folder %>" />
						    </div>
						</div>
						<div class="control-group">
					    <label class="control-label" for="name">Quota:</label>
					    <div class="controls">
					      	<input type="text" id="keep" name="keep" placeholder="1" value="<%= site.keep ? site.keep : '3' %>" />
					    </div>
					</div>
					</div>
				</fieldset>
			</div>
			<div class="span6">
				<fieldset>
					<legend>Cron Job</legend>
					<div class="control-group">
					    <label class="control-label" for="name">Day of the Week</label>
					    <div class="controls">
					      	<select name="cron[wd]">
					      		<option value="*" <% if (cron.weekday == '*') { %>selected="selected"<%}%> >Every Day</option>
								<option value="1" <% if (cron.weekday == '1') { %>selected="selected"<%}%>>Monday</option>
					      		<option value="2" <% if (cron.weekday == '2') { %>selected="selected"<%}%>>Tuesday</option>
					      		<option value="3" <% if (cron.weekday == '3') { %>selected="selected"<%}%>>Wednesday</option>
					      		<option value="4" <% if (cron.weekday == '4') { %>selected="selected"<%}%>>Thursday</option>
					      		<option value="5" <% if (cron.weekday == '5') { %>selected="selected"<%}%>>Friday</option>
					      		<option value="6" <% if (cron.weekday == '6') { %>selected="selected"<%}%>>Saturday</option>
					      		<option value="0" <% if (cron.weekday == '0') { %>selected="selected"<%}%>>Sunday</option>
					      	</select>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">Month</label>
					    <div class="controls">
					      	<select name="cron[m]">
					      		<option value="*" <% if (cron.month == '*') { %>selected="selected"<%}%>>Every Month</option>
								<option value="1" <% if (cron.month == '1') { %>selected="selected"<%}%>>January</option>
					      		<option value="2" <% if (cron.month == '2') { %>selected="selected"<%}%>>February</option>
					      		<option value="3" <% if (cron.month == '3') { %>selected="selected"<%}%>>March</option>
					      		<option value="4" <% if (cron.month == '4') { %>selected="selected"<%}%>>April</option>
					      		<option value="5" <% if (cron.month == '5') { %>selected="selected"<%}%>>May</option>
					      		<option value="6" <% if (cron.month == '6') { %>selected="selected"<%}%>>June</option>
					      		<option value="7" <% if (cron.month == '7') { %>selected="selected"<%}%>>July</option>
					      		<option value="8" <% if (cron.month == '8') { %>selected="selected"<%}%>>August</option>
					      		<option value="9" <% if (cron.month == '9') { %>selected="selected"<%}%>>September</option>
					      		<option value="10" <% if (cron.month == '10') { %>selected="selected"<%}%>>October</option>
					      		<option value="11" <% if (cron.month == '11') { %>selected="selected"<%}%>>November</option>
					      		<option value="12" <% if (cron.month == '12') { %>selected="selected"<%}%>>December</option>
					      	</select>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">Day</label>
					    <div class="controls">
					      	<select name="cron[d]">
					      		<option value="*" <% if (cron.day == '*') { %>selected="selected"<%}%>>Every Day</option>
					      		<% for (var i = 1; i <= 31; i++) { %>
					      		<option value="<%= i %>" <% if (cron.day == i) { %>selected="selected"<%}%>><%= i %></option>
					      		<% } %>
					      	</select>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">Hour</label>
					    <div class="controls">
					      	<select name="cron[h]">
					      		<% for (var i = 0; i <= 23; i++) { %>
					      		<option value="<%= i %>" <% if (cron.hour == i) { %>selected="selected"<%}%>><%= i %></option>
					      		<% } %>
					      		<option value="*" <% if (cron.hour == '*') { %>selected="selected"<%}%>>Every Hour (ARE YOU SURE?)</option>
					      	</select>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">Minute</label>
					    <div class="controls">
					      	<select name="cron[min]">
					      		<% for (var i = 0; i <= 59; i++) { %>
					      		<option value="<%= i %>" <% if (cron.minute == i) { %>selected="selected"<%}%>><%= i %></option>
					      		<% } %>
					      		<option value="*" <% if (cron.minute == '*') { %>selected="selected"<%}%>>Every Minute (DANGEROUS)</option>
					      	</select>
					    </div>
					</div>
				</fieldset>
			</div>
			<div class="span10 form-actions">
				<button type="submit" class="btn btn-primary">Save</button>
				<a class="btn" href="/">Cancel</a>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#download-type").change(function(){
		if ($(':selected', $(this)).val() == 's3') {
			$('.s3').collapse('show');
		} else {
			console.log('hide');
			if ($('.s3').hasClass('in')){
				$('.s3').collapse('hide');
			}
		}
	});

	$("#download-type").change(function(){
		var val = $(':selected', $(this)).val();
		if (val == 's3' || val == 'direct') {
			$('.download').collapse('show');
		} else {
			$('.download').collapse('hide');
		}
	});
});
</script>

<% include footer.html %>