<% include header.html %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="top-buttons pull-right">
				<a href="#config" class="btn" data-toggle="modal">Configuration</a>
				<a href="/add" class="btn btn-success">Add New Site</a>
			</div>
			<h1>Sites</h1>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<th>Name</th>
				<th>Url</th>
				<th>Download Type</th>
				<th>Download Folder</th>
				<th>Status</th>
				<th>Last Backup</th>
				<th>Next Backup</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% 
				for (var k in sites) { 
					var site = sites[k]; 
					var download_type = 'Do Not Download';
					if (site.s3) {
						download_type = 'Amazon S3';
					} else {
						if (site.download) {
							download_type = 'Direct Download';
						}
					}

					var folder = site.download ? site.download.folder : '';
					var next_backup = new crontime(site.cron);
					next_backup = next_backup.sendAt();

					site.last_backup = new Date(site.last_backup);
					if (!site.last_backup || site.last_backup == 'Invalid Date') {
						site.last_backup = '---';
					} else {
						site.last_backup = site.last_backup.toString('dd/MM/yyyy HH:mm');
					}
				%>
				<tr id="site-<%= k %>">
					<td>
						<%= site.name %>	
					</td>
					<td>
						<%= site.url %>
					</td>
					<td>
						<%= download_type %>
					</td>
					<td>
						<%= folder %>
					</td>
					<td class="status">						
						<span>Idle</span>
						<div class="progress progress-striped active" style="display:none;">
						  	<div class="bar" style="width: 0%;"></div>
						</div>
					</td>
					<td class="last-backup">
						<%= site.last_backup %>
					</td>
					<td>
						<%= next_backup.toString('dd/MM/yyyy HH:mm') %>
					</td>
					<td class="span2">
						<div class="btn-group">
							<a href="/site/<%= k %>" class="btn btn-warning" data-toggle="tooltip" title="Edit" data-container="body"><i class="icon-white icon-edit"></i></a>
							<a href="/delete/<%= k %>" class="btn btn-danger" data-toggle="tooltip" title="Delete" data-container="body" onclick="return confirm('Are you sure?');"><i class="icon-white icon-remove"></i></a>
							<a href="#" class="download btn btn-info" data-url="/site/<%= k %>/download" data-toggle="tooltip" title="Download" data-container="body"><i class="icon-white icon-download-alt"></i></a>
							<a href="#" class="backup btn btn-primary" data-url="/site/<%= k %>/backup" data-toggle="tooltip" title="Backup" data-container="body"><i class="icon-white icon-play"></i></a>
							<a href="#test" class="test btn btn-success" data-key="<%= k %>" data-toggle="tooltip" title="Test" data-container="body" data-toggle="modal"><i class="icon-white icon-refresh"></i></a>
						</div>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){

	$('[data-toggle="tooltip"]').tooltip();

	$('.download').click(function(){
		var tr = $(this).parents('tr');
		var status = $('.status', tr);
		$('span', status).html('Downloading');
		$('.progress', status).show();
		var url = $(this).data('url');
		$.post(url);
	});

	$('.backup').click(function(){
		var tr = $(this).parents('tr');
		var status = $('.status', tr);
		$('span', status).html('Backup...');
		$('.progress', status).show();
		var url = $(this).data('url');
		$.post(url);
	});

	$('.test').click(function(){
		$('#testid').val($(this).data('key'));
		$('#test').modal();
		$('#test .submit').click(function(){
			$(this).hide();
			$('#test .cleanup').show();
		});
	});

	$('#test .cleanup').click(function(){
		$.post('/cleanup', {folder: $('#testfolder').val()});
		$(this).hide();
		$('#test .submit').show();
		$('#test').modal('hide');
	});

	var socket = io.connect('http://' + window.location.host);
	socket.on('download-step', function (data) {
		var received = (data.received / 1048576 ).toFixed(2);
		var total = (data.total / 1048576 ).toFixed(2);

		var tr = $('#site-' + data.key);
		var status = $('.status', tr);

		$('.progress', status).show();
		$('span', status).html('Downloading ('+received +'MB of '+total +'MB)');
	    $('.progress .bar', status).css('width', data.percentage + '%');
 	});

 	socket.on('download-completed', function (data) {
 		var tr = $('#site-' + data.key);
		var status = $('.status', tr);

		$('span', status).html('Idle');
		$('.progress .bar', status).css('width', '0%');
	    $('.progress', status).hide();

	    var date = (new Date(data.last_backup)).toString('dd/MM/yyyy HH:mm');
	    $('.last-backup', status).html(date);
 	});

 	socket.on('backup-step', function (data) {
		var tr = $('#site-' + data.key);
		var status = $('.status', tr);

		$('.progress', status).show();
		$('span', status).html('Backup...');
	    $('.progress .bar', status).css('width', data.percentage + '%');
 	});

 	socket.on('backup-completed', function (data) {
 		var tr = $('#site-' + data.key);
		var status = $('.status', tr);

		$('span', status).html('Idle');
	    $('.progress', status).hide();
	    $('.progress .bar', status).css('width', '0%');

	     var date = (new Date(data.last_backup)).toString('dd/MM/yyyy HH:mm');
	    $('.last-backup', tr).html(date);
 	});
});


</script>

<div class="modal hide fade" id="test">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>Test Backup</h3>
  	</div>
  	<div class="modal-body">
    	<form class="form form-horizontal" action="/test" method="get" target="_blank">
    		<div class="control-group">
    		    <label class="control-label" for="name">Test Folder</label>
    		    <div class="controls">
    		      	<input type="text" name="testfolder" id="testfolder" placeholder="Test Folder" value="" />
    		      	<input type="hidden" name="testid" id="testid" value="" />
    		    </div>
    		</div>
			<div class="form-actions">
    		  	<a href="#" class="btn" data-dismiss="modal">Close</a>
    		  	<button type="submit" class="btn btn-primary submit">Test</a>
		  		<button type="button" class="btn btn-primary cleanup" style="display:none;">Cleanup</a>
			</div>
    	</form>
  	</div>
</div>

<div class="modal hide fade" id="config">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>Global Configuration</h3>
  	</div>
  	<div class="modal-body">
    	<form class="form form-horizontal" action="/saveconfig" method="post">
    		<div class="control-group">
    		    <label class="control-label" for="name">Download Folder</label>
    		    <div class="controls">
    		      	<input type="text" name="folder" id="folder" placeholder="Download Folder" value="<%= config.folder %>" />
    		    </div>
    		</div>
    		<div class="control-group">
    		    <label class="control-label" for="webroot">Web Root for Tests</label>
    		    <div class="controls">
    		      	<input type="text" name="webroot" id="webroot" placeholder="/path/to/web/root" value="<%= config.webroot %>" />
    		    </div>
    		</div>
    		<div class="control-group">
    		    <label class="control-label" for="webrooturl">Web Root Url</label>
    		    <div class="controls">
    		      	<input type="text" name="webrooturl" id="webrooturl" placeholder="http://localhost/" value="<%= config.webrooturl %>" />
    		    </div>
    		</div>
    		<div class="control-group">
    		    <label class="control-label" for="name">Amazon S3 Key</label>
    		    <div class="controls">
    		      	<input type="text" name="s3-key" id="folder" placeholder="S3 Key" value="<%= (config.s3) ? (config.s3.key ? config.s3.key : '') : '' %>" />
    		    </div>
    		</div>
    		<div class="control-group">
    		    <label class="control-label" for="name">Amazon S3 Secret</label>
    		    <div class="controls">
    		      	<input type="password" id="s3-secret" name="s3-secret" placeholder="S3 Secret" value="<%= (config.s3) ? (config.s3.secret ? config.s3.secret : '') : '' %>" />
    		    </div>
    		</div>
    		<div class="control-group">
    		    <label class="control-label" for="name">Amazon S3 Bucket</label>
    		    <div class="controls">
    		      	<input type="text" id="s3-bucket" name="s3-bucket" placeholder="S3 Bucket" value="<%= (config.s3) ? (config.s3.bucket ? config.s3.bucket : '') : '' %>" />
    		    </div>
    		</div>
			<div class="form-actions">
    		  	<a href="#" class="btn" data-dismiss="modal">Close</a>
    		  	<button type="submit" class="btn btn-primary">Save</a>
			</div>
    	</form>
  	</div>
</div>

<% include footer.html %>